---
- name: RouterOS test with network_cli connection
  hosts: all
  gather_facts: false
  collections:
    - community.routeros
  vars:
    ansible_connection: network_cli
    ansible_network_os: community.routeros.routeros
    
  tasks:
    - name: Gather system resources
      community.routeros.command:
        commands: 
          - /system resource print
      register: system_resource_print

    - name: Gather other info
      community.routeros.command:
        commands:
          - /user print
          - /system identity print
      register: other_info

    - name: Show router board and identity
      debug:
        var: other_info.stdout_lines

    - name: Show system resources
      debug:
        var: system_resource_print.stdout_lines
        
    - name: Shutdown
      community.routeros.command:
        commands: 
          - /system shutdown
        promtp:
          - "y/N"
        answer:
          - "y"
